
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import "./node_modules/bulma/bulma";

// Spacings
@import "spacing";

// Vue Snotify material styles

@import "~vue-snotify/styles/material";
.snotifyToast__body {
  font-size: 1.1em;
}

.is-horizontal-center {
  justify-content: center;
}

.profile-avatar {
  width: 64px;
  height: 64px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.is-rounded {
  border-radius: 50%;
}

.no-underline {
  text-decoration: none !important;
}

progress::-webkit-progress-value {
  transition: width .3s ease-in-out;
}

.space-between {
  justify-content: space-between;
}